{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
{% if config.REFRESH_RATE > 0 %}
<meta http-equiv="refresh" content="{{config.REFRESH_RATE}}">
{% endif %}
<div class="ui vertical grid">
  <div class="four column row">
    <div class="column">
      <a href="{{url_for('nodes', env=current_env, status='failed')}}">
        <h1 class="ui failed header no-margin-bottom">
          {{stats['failed']}}
          <small>{% if stats['failed']== 1 %} node {% else %} nodes {% endif %}</small>
        </h1>
      </a>
      <span>with status failed</span>
    </div>
    <div class="column">
      <a href="{{url_for('nodes', env=current_env, status='noop')}}">
        <h1 class="ui header noop no-margin-bottom">
          {{stats['noop']}}
          <small>{% if stats['noop']== 1 %} node {% else %} nodes {% endif %}</small>
        </h1>
      </a>
      <span>with status pending</span>
    </div>
    <div class="column">
      <a href="{{url_for('nodes', env=current_env, status='changed')}}">
        <h1 class="ui header changed no-margin-bottom">
          {{stats['changed']}}
          <small>{% if stats['changed']== 1 %} node {% else %} nodes {% endif %}</small>
        </h1>
      </a>
      <span>with status changed</span>
    </div>
    <div class="column">
      <a href="{{url_for('nodes', env=current_env, status='unreported')}}">
        <h1 class="ui header unreported no-margin-bottom">
          {{ stats['unreported'] }}
          <small>{% if stats['unreported']== 1 %} node {% else %} nodes {% endif %}</small>
        </h1>
      </a>
      <span>unreported in the last {{ config.UNRESPONSIVE_HOURS }} hours</span>
    </div>
  </div>
  <div class="four column row">
    <div class="column">
    </div>
    <div class="column">
      <h1 class="ui header darkblue no-margin-bottom">{{metrics['num_nodes']}}</h1>
      <span>Population</span>
    </div>
    <div class="column">
      <h1 class="ui header darkblue no-margin-bottom">{{metrics['num_resources']}}</h1>
      <span>Resources managed</span>
    </div>
    <div class="column">
      <h1 class="ui header darkblue no-margin-bottom">{{metrics['avg_resources_node']}}</h1>
      <span>Avg. resources/node</span>
    </div>
  </div>
  <div class="one column row">
    <div id="dailyGraph"></div>
  </div>
  <div class="ui divider"></div>
  <div class="one column row">
    <div class="column">
      {% if nodes %}
      <h2>Nodes status detail ({{nodes|length}})</h2>
      {{ macros.nodes_reports(nodes|rejectattr("status", "equalto", "unchanged")) }}
      {% else %}
      <h2>Nodes status detail</h2>
      <div class="ui info message">
        Nothing seems to be changing.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/c3.min.js')}}"></script>
<script type="text/javascript">
d3.json("/reports_graph", function(data) {
//  console.log(data);

var chart = c3.generate({
    bindto: '#dailyGraph',
    data: {
        columns: [
            ['failed', 30, 30, 20, 20, 0, 0, 0, 50],
            ['changed', 0, 100, 130, 100, 100, 200, 150, 50],
            ['unchanged', 500, 800, 230, 200, 200, 300, 250, 250]
        ],
        type: 'bar',
        groups: [
            ['failed', 'changed', 'unchanged']
        ]
    }
});

});
</script>
{% endblock script %}
