{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}
<div class="ui fluid icon input hide" style="margin-bottom:20px">
  <input autofocus="autofocus" class="filter-table" placeholder="Type here to filter...">
</div>
{{ macros.nodes_reports(nodes) }}
<div class="ui dropdown" style="float:right;">
  <div class="text">Filter By</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <a class="item" href="{{url_for_field('status', 'failed')}}">Failed</a>
    <a class="item" href="{{url_for_field('status', 'changed')}}">Changed</a>
    <a class="item" href="{{url_for_field('status', 'unchanged')}}">Unchanged</a>
    <a class="item" href="{{url_for_field('status', 'noop')}}">Noop</a>
    <a class="item" href="{{url_for_field('status', 'unreported')}}">Unreported</a>
  </div>
</div>
{% endblock content %}
